label {
  display: block;
}

:host ::ng-deep {
  margin-right: 2em;

  .mat-form-field-outline {
    color: #999;
    background-color: white;
  }

  .mat-form-field-infix {
    border-top: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.4em;
  }
}

mat-form-field {
  font: {
    weight: 400;
    style: normal;
    size: 1rem;
    stretch: normal;
    variant-ligatures: normal;
    variant-numeric: normal;
    variant-east-asian: normal;
    family: Inter, Helvetica, sans-serif;
  }
  line-height: 1.75;
  width: 338px;

  mat-icon:hover {
    cursor: pointer;
  }
}
