<div>
  <h2 id="page-heading" data-cy="LintRuleViolationHeading">
    <span jhiTranslate="boatbayApp.lintRuleViolation.home.title">Lint Rule Violations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="boatbayApp.lintRuleViolation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lint-rule-violation"
        [routerLink]="['/lint-rule-violation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="boatbayApp.lintRuleViolation.home.createLabel"> Create a new Lint Rule Violation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lintRuleViolations?.length === 0">
    <span jhiTranslate="boatbayApp.lintRuleViolation.home.notFound">No lintRuleViolations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lintRuleViolations && lintRuleViolations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="boatbayApp.lintRuleViolation.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="boatbayApp.lintRuleViolation.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="url">
            <span jhiTranslate="boatbayApp.lintRuleViolation.url">Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="severity">
            <span jhiTranslate="boatbayApp.lintRuleViolation.severity">Severity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lineStart">
            <span jhiTranslate="boatbayApp.lintRuleViolation.lineStart">Line Start</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lineEnd">
            <span jhiTranslate="boatbayApp.lintRuleViolation.lineEnd">Line End</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jsonPointer">
            <span jhiTranslate="boatbayApp.lintRuleViolation.jsonPointer">Json Pointer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lintRule.title">
            <span jhiTranslate="boatbayApp.lintRuleViolation.lintRule">Lint Rule</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lintReport.name">
            <span jhiTranslate="boatbayApp.lintRuleViolation.lintReport">Lint Report</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lintRuleViolation of lintRuleViolations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lint-rule-violation', lintRuleViolation.id, 'view']">{{ lintRuleViolation.id }}</a>
          </td>
          <td>{{ lintRuleViolation.name }}</td>
          <td>{{ lintRuleViolation.description }}</td>
          <td>{{ lintRuleViolation.url }}</td>
          <td jhiTranslate="{{ 'boatbayApp.Severity.' + lintRuleViolation.severity }}">{{ lintRuleViolation.severity }}</td>
          <td>{{ lintRuleViolation.lineStart }}</td>
          <td>{{ lintRuleViolation.lineEnd }}</td>
          <td>{{ lintRuleViolation.jsonPointer }}</td>
          <td>
            <div *ngIf="lintRuleViolation.lintRule">
              <a [routerLink]="['/lint-rule', lintRuleViolation.lintRule?.id, 'view']">{{ lintRuleViolation.lintRule?.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lintRuleViolation.lintReport">
              <a [routerLink]="['/lint-report', lintRuleViolation.lintReport?.id, 'view']">{{ lintRuleViolation.lintReport?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lint-rule-violation', lintRuleViolation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lint-rule-violation', lintRuleViolation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lintRuleViolation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="lintRuleViolations && lintRuleViolations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
