

.openapi-editor {
  height: 900px;
  width: 100%;
  display: block;
}

.violations {
  display: block;
  overflow: auto;
  height: 900px;
  width: 100%;
}


.violation-card {
  border-top: 3px solid;
}


.violation-card.MUST {
  border-top-color: #D4333F;
}

.violation-card.SHOULD {
  border-top-color: #ED7D20;
}

.violation-card.MAY {
  border-top-color: #EABE06;
}

.violation-card.HINT {
  border-top-color: #B0D513;
}





