<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-service-definition-heading"
        data-cy="ServiceDefinitionCreateUpdateHeading"
        jhiTranslate="boatbayApp.serviceDefinition.home.createOrEditLabel"
      >
        Create or edit a Service Definition
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.key" for="field_key">Key</label>
          <input type="text" class="form-control" name="key" id="field_key" data-cy="key" formControlName="key" />
          <div *ngIf="editForm.get('key')!.invalid && (editForm.get('key')!.dirty || editForm.get('key')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('key')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.order" for="field_order">Order</label>
          <input type="number" class="form-control" name="order" id="field_order" data-cy="order" formControlName="order" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.subTitle" for="field_subTitle">Sub Title</label>
          <input type="text" class="form-control" name="subTitle" id="field_subTitle" data-cy="subTitle" formControlName="subTitle" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.description" for="field_description"
            >Description</label
          >
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.icon" for="field_icon">Icon</label>
          <input type="text" class="form-control" name="icon" id="field_icon" data-cy="icon" formControlName="icon" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.color" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.hide" for="field_hide">Hide</label>
          <input type="checkbox" class="form-check" name="hide" id="field_hide" data-cy="hide" formControlName="hide" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.serviceDefinition.capability" for="field_capability">Capability</label>
          <select class="form-control" id="field_capability" data-cy="capability" name="capability" formControlName="capability">
            <option *ngIf="!editForm.get('capability')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                capabilityOption.id === editForm.get('capability')!.value?.id ? editForm.get('capability')!.value : capabilityOption
              "
              *ngFor="let capabilityOption of capabilitiesSharedCollection; trackBy: trackCapabilityById"
            >
              {{ capabilityOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['capability'])!.invalid && (editForm.get(['capability'])!.dirty || editForm.get(['capability'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['capability'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
