<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dashboard">
      <h2 data-cy="dashboardDetailsHeading"><span jhiTranslate="boatbayApp.dashboard.detail.title">Dashboard</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dashboard.id }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.dashboard.name">Name</span></dt>
        <dd>
          <span>{{ dashboard.name }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.dashboard.title">Title</span></dt>
        <dd>
          <span>{{ dashboard.title }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.dashboard.subTitle">Sub Title</span></dt>
        <dd>
          <span>{{ dashboard.subTitle }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.dashboard.navTitle">Nav Title</span></dt>
        <dd>
          <span>{{ dashboard.navTitle }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.dashboard.content">Content</span></dt>
        <dd>
          <span>{{ dashboard.content }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.dashboard.defaultPortal">Default Portal</span></dt>
        <dd>
          <div *ngIf="dashboard.defaultPortal">
            <a [routerLink]="['/portal', dashboard.defaultPortal?.id, 'view']">{{ dashboard.defaultPortal?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dashboard', dashboard.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
