.card-container {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.mat-card-header {
  margin-left: auto;
  margin-right: auto;
}

.mat-card-subtitle {
  margin-top: 20px;
  font-size: 1.5em;
}
