<div>
    <h2 id="page-heading">
        <span>Uploads</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-upload" [routerLink]="['/upload/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Upload
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="uploads?.length === 0">
        <span>No uploads found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="uploads && uploads.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Created On</span></th>
                    <th scope="col" ><span>Created By</span></th>
                    <th scope="col" ><span>File</span></th>
                    <th scope="col" ><span>File Name</span></th>
                    <th scope="col" ><span>Processed</span></th>
                    <th scope="col" ><span>Action</span></th>
                    <th scope="col" ><span>Error</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let upload of uploads ;trackBy: trackId">
                    <td><a [routerLink]="['/upload', upload.id, 'view']">{{ upload.id }}</a></td>
                    <td>{{ upload.createdOn | date:'medium' }}</td>
                    <td>{{ upload.createdBy }}</td>
                    <td>
                        <a *ngIf="upload.file" (click)="openFile(upload.fileContentType, upload.file)">open</a>
                        <span *ngIf="upload.file">{{ upload.fileContentType }}, {{ byteSize(upload.file) }}</span>
                    </td>
                    <td>{{ upload.fileName }}</td>
                    <td>{{ upload.processed }}</td>
                    <td>{{ upload.action }}</td>
                    <td>{{ upload.error }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/upload', upload.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/upload', upload.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(upload)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
