<a [href]="service.portalPath">
  <mat-card [attr.aria-label]="service.title + '-tile'" [ngClass]="tileColor">
    <mat-card-header>
      <mat-icon mat-card-avatar class="tile-icon">{{
        service.icon || 'extension'
      }}</mat-icon>
      <mat-card-title
        data-role="title"
        [innerHTML]="
          service.title
            | ellipsis: titleLength
            | titlecase
            | highlight: (searchableString | async)
        "
      >
      </mat-card-title>
<!--      <mat-card-subtitle>-->
<!--        <span-->
<!--          data-role="tag"-->
<!--          *ngFor="let tag of service.tags || []; let isLast = last"-->
<!--          class="tag"-->
<!--          [innerHTML]="-->
<!--            tag + (isLast ? '' : ', ')-->
<!--              | titlecase-->
<!--              | highlight: (searchableString | async)-->
<!--          "-->
<!--        >-->
<!--        </span>-->
<!--      </mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content
      data-role="description"
      [innerHTML]="
        service.description
        | linkReplacer
        | ellipsis: descriptionLength
      "
    >
    </mat-card-content>

    <mat-card-footer>
        <a mat-icon-button
           matTooltipPosition="above"  *ngFor="let spec of service.specs || []" [routerLink]="['/quay/report/', spec.id]" [matTooltip]="spec.title">
            <mat-icon>{{spec.icon || 'extension'}}</mat-icon>
        </a>
    </mat-card-footer>
  </mat-card>
</a>
