<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="lintRuleViolation">
      <h2 data-cy="lintRuleViolationDetailsHeading">
        <span jhiTranslate="boatbayApp.lintRuleViolation.detail.title">Lint Rule Violation</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ lintRuleViolation.id }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.lintRuleViolation.name">Name</span></dt>
        <dd>
          <span>{{ lintRuleViolation.name }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.lintRuleViolation.description">Description</span></dt>
        <dd>
          <span>{{ lintRuleViolation.description }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.lintRuleViolation.url">Url</span></dt>
        <dd>
          <span>{{ lintRuleViolation.url }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.lintRuleViolation.severity">Severity</span></dt>
        <dd>
          <span jhiTranslate="{{ 'boatbayApp.Severity.' + lintRuleViolation.severity }}">{{ lintRuleViolation.severity }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.lintRuleViolation.lineStart">Line Start</span></dt>
        <dd>
          <span>{{ lintRuleViolation.lineStart }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.lintRuleViolation.lineEnd">Line End</span></dt>
        <dd>
          <span>{{ lintRuleViolation.lineEnd }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.lintRuleViolation.jsonPointer">Json Pointer</span></dt>
        <dd>
          <span>{{ lintRuleViolation.jsonPointer }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.lintRuleViolation.lintRule">Lint Rule</span></dt>
        <dd>
          <div *ngIf="lintRuleViolation.lintRule">
            <a [routerLink]="['/lint-rule', lintRuleViolation.lintRule?.id, 'view']">{{ lintRuleViolation.lintRule?.title }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="boatbayApp.lintRuleViolation.lintReport">Lint Report</span></dt>
        <dd>
          <div *ngIf="lintRuleViolation.lintReport">
            <a [routerLink]="['/lint-report', lintRuleViolation.lintReport?.id, 'view']">{{ lintRuleViolation.lintReport?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/lint-rule-violation', lintRuleViolation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
