<div>
    <h2 id="page-heading">
        <span>Specs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spec" [routerLink]="['/spec/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Spec
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="specs?.length === 0">
        <span>No specs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="specs && specs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Key</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Version</span></th>
                    <th scope="col" ><span>Title</span></th>
                    <th scope="col" ><span>Icon</span></th>
                    <th scope="col" ><span>Open Api</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Created On</span></th>
                    <th scope="col" ><span>Created By</span></th>
                    <th scope="col" ><span>Checksum</span></th>
                    <th scope="col" ><span>Filename</span></th>
                    <th scope="col" ><span>Valid</span></th>
                    <th scope="col" ><span>Order</span></th>
                    <th scope="col" ><span>Parse Error</span></th>
                    <th scope="col" ><span>External Docs</span></th>
                    <th scope="col" ><span>Hide</span></th>
                    <th scope="col" ><span>Source Path</span></th>
                    <th scope="col" ><span>Source Name</span></th>
                    <th scope="col" ><span>Source Url</span></th>
                    <th scope="col" ><span>Source Created By</span></th>
                    <th scope="col" ><span>Source Created On</span></th>
                    <th scope="col" ><span>Source Last Modified On</span></th>
                    <th scope="col" ><span>Source Last Modified By</span></th>
                    <th scope="col" ><span>Portal</span></th>
                    <th scope="col" ><span>Capability</span></th>
                    <th scope="col" ><span>Product</span></th>
                    <th scope="col" ><span>Source</span></th>
                    <th scope="col" ><span>Spec Type</span></th>
                    <th scope="col" ><span>Tag</span></th>
                    <th scope="col" ><span>Service Definition</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let spec of specs ;trackBy: trackId">
                    <td><a [routerLink]="['/spec', spec.id, 'view']">{{ spec.id }}</a></td>
                    <td>{{ spec.key }}</td>
                    <td>{{ spec.name }}</td>
                    <td>{{ spec.version }}</td>
                    <td>{{ spec.title }}</td>
                    <td>{{ spec.icon }}</td>
                    <td>{{ spec.openApi }}</td>
                    <td>{{ spec.description }}</td>
                    <td>{{ spec.createdOn | date:'medium' }}</td>
                    <td>{{ spec.createdBy }}</td>
                    <td>{{ spec.checksum }}</td>
                    <td>{{ spec.filename }}</td>
                    <td>{{ spec.valid }}</td>
                    <td>{{ spec.order }}</td>
                    <td>{{ spec.parseError }}</td>
                    <td>{{ spec.externalDocs }}</td>
                    <td>{{ spec.hide }}</td>
                    <td>{{ spec.sourcePath }}</td>
                    <td>{{ spec.sourceName }}</td>
                    <td>{{ spec.sourceUrl }}</td>
                    <td>{{ spec.sourceCreatedBy }}</td>
                    <td>{{ spec.sourceCreatedOn | date:'medium' }}</td>
                    <td>{{ spec.sourceLastModifiedOn | date:'medium' }}</td>
                    <td>{{ spec.sourceLastModifiedBy }}</td>
                    <td>
                        <div *ngIf="spec.portal">
                            <a [routerLink]="['/portal', spec.portal?.id, 'view']" >{{ spec.portal?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="spec.capability">
                            <a [routerLink]="['/capability', spec.capability?.id, 'view']" >{{ spec.capability?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="spec.product">
                            <a [routerLink]="['/product', spec.product?.id, 'view']" >{{ spec.product?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="spec.source">
                            <a [routerLink]="['/source', spec.source?.id, 'view']" >{{ spec.source?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="spec.specType">
                            <a [routerLink]="['/spec-type', spec.specType?.id, 'view']" >{{ spec.specType?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <span *ngFor="let tag of spec.tags; let last = last">
                            <a class="form-control-static" [routerLink]="['/tag', tag?.id, 'view']">{{ tag.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="spec.serviceDefinition">
                            <a [routerLink]="['/service-definition', spec.serviceDefinition?.id, 'view']" >{{ spec.serviceDefinition?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/spec', spec.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/spec', spec.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(spec)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
