<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spec">
            <h2><span>Spec</span> {{ spec.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{ spec.key }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ spec.name }}</span>
                </dd>
                <dt><span>Version</span></dt>
                <dd>
                    <span>{{ spec.version }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ spec.title }}</span>
                </dd>
                <dt><span>Icon</span></dt>
                <dd>
                    <span>{{ spec.icon }}</span>
                </dd>
                <dt><span>Open Api</span></dt>
                <dd>
                    <span>{{ spec.openApi }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ spec.description }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ spec.createdOn }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ spec.createdBy }}</span>
                </dd>
                <dt><span>Checksum</span></dt>
                <dd>
                    <span>{{ spec.checksum }}</span>
                </dd>
                <dt><span>Filename</span></dt>
                <dd>
                    <span>{{ spec.filename }}</span>
                </dd>
                <dt><span>Valid</span></dt>
                <dd>
                    <span>{{ spec.valid }}</span>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <span>{{ spec.order }}</span>
                </dd>
                <dt><span>Parse Error</span></dt>
                <dd>
                    <span>{{ spec.parseError }}</span>
                </dd>
                <dt><span>External Docs</span></dt>
                <dd>
                    <span>{{ spec.externalDocs }}</span>
                </dd>
                <dt><span>Hide</span></dt>
                <dd>
                    <span>{{ spec.hide }}</span>
                </dd>
                <dt><span>Source Path</span></dt>
                <dd>
                    <span>{{ spec.sourcePath }}</span>
                </dd>
                <dt><span>Source Name</span></dt>
                <dd>
                    <span>{{ spec.sourceName }}</span>
                </dd>
                <dt><span>Source Url</span></dt>
                <dd>
                    <span>{{ spec.sourceUrl }}</span>
                </dd>
                <dt><span>Source Created By</span></dt>
                <dd>
                    <span>{{ spec.sourceCreatedBy }}</span>
                </dd>
                <dt><span>Source Created On</span></dt>
                <dd>
                    <span>{{ spec.sourceCreatedOn }}</span>
                </dd>
                <dt><span>Source Last Modified On</span></dt>
                <dd>
                    <span>{{ spec.sourceLastModifiedOn }}</span>
                </dd>
                <dt><span>Source Last Modified By</span></dt>
                <dd>
                    <span>{{ spec.sourceLastModifiedBy }}</span>
                </dd>
                <dt><span>Portal</span></dt>
                <dd>
                    <div *ngIf="spec.portal">
                        <a [routerLink]="['/portal', spec.portal?.id, 'view']">{{ spec.portal?.name }}</a>
                    </div>
                </dd>
                <dt><span>Capability</span></dt>
                <dd>
                    <div *ngIf="spec.capability">
                        <a [routerLink]="['/capability', spec.capability?.id, 'view']">{{ spec.capability?.name }}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="spec.product">
                        <a [routerLink]="['/product', spec.product?.id, 'view']">{{ spec.product?.name }}</a>
                    </div>
                </dd>
                <dt><span>Source</span></dt>
                <dd>
                    <div *ngIf="spec.source">
                        <a [routerLink]="['/source', spec.source?.id, 'view']">{{ spec.source?.name }}</a>
                    </div>
                </dd>
                <dt><span>Spec Type</span></dt>
                <dd>
                    <div *ngIf="spec.specType">
                        <a [routerLink]="['/spec-type', spec.specType?.id, 'view']">{{ spec.specType?.name }}</a>
                    </div>
                </dd>
                <dt><span>Tag</span></dt>
                <dd>
                    <span *ngFor="let tag of spec.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Service Definition</span></dt>
                <dd>
                    <div *ngIf="spec.serviceDefinition">
                        <a [routerLink]="['/service-definition', spec.serviceDefinition?.id, 'view']">{{ spec.serviceDefinition?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spec', spec.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
