<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="source">
            <h2><span>Source</span> {{ source.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ source.name }}</span>
                </dd>
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{ source.key }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ source.type }}</span>
                </dd>
                <dt><span>Base Url</span></dt>
                <dd>
                    <span>{{ source.baseUrl }}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{ source.active }}</span>
                </dd>
                <dt><span>Filter Artifacts Name</span></dt>
                <dd>
                    <span>{{ source.filterArtifactsName }}</span>
                </dd>
                <dt><span>Filter Artifacts Created Since</span></dt>
                <dd>
                    <span>{{ source.filterArtifactsCreatedSince }}</span>
                </dd>
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{ source.username }}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{ source.password }}</span>
                </dd>
                <dt><span>Cron Expression</span></dt>
                <dd>
                    <span>{{ source.cronExpression }}</span>
                </dd>
                <dt><span>Run On Startup</span></dt>
                <dd>
                    <span>{{ source.runOnStartup }}</span>
                </dd>
                <dt><span>Spec Filter Sp EL</span></dt>
                <dd>
                    <span>{{ source.specFilterSpEL }}</span>
                </dd>
                <dt><span>Capability Key Sp EL</span></dt>
                <dd>
                    <span>{{ source.capabilityKeySpEL }}</span>
                </dd>
                <dt><span>Capability Name Sp EL</span></dt>
                <dd>
                    <span>{{ source.capabilityNameSpEL }}</span>
                </dd>
                <dt><span>Service Key Sp EL</span></dt>
                <dd>
                    <span>{{ source.serviceKeySpEL }}</span>
                </dd>
                <dt><span>Service Name Sp EL</span></dt>
                <dd>
                    <span>{{ source.serviceNameSpEL }}</span>
                </dd>
                <dt><span>Spec Key Sp EL</span></dt>
                <dd>
                    <span>{{ source.specKeySpEL }}</span>
                </dd>
                <dt><span>Version Sp EL</span></dt>
                <dd>
                    <span>{{ source.versionSpEL }}</span>
                </dd>
                <dt><span>Product Release Name Sp EL</span></dt>
                <dd>
                    <span>{{ source.productReleaseNameSpEL }}</span>
                </dd>
                <dt><span>Product Release Version Sp EL</span></dt>
                <dd>
                    <span>{{ source.productReleaseVersionSpEL }}</span>
                </dd>
                <dt><span>Product Release Key Sp EL</span></dt>
                <dd>
                    <span>{{ source.productReleaseKeySpEL }}</span>
                </dd>
                <dt><span>Item Limit</span></dt>
                <dd>
                    <span>{{ source.itemLimit }}</span>
                </dd>
                <dt><span>Overwrite Changes</span></dt>
                <dd>
                    <span>{{ source.overwriteChanges }}</span>
                </dd>
                <dt><span>Options</span></dt>
                <dd>
                    <span>{{ source.options }}</span>
                </dd>
                <dt><span>Portal</span></dt>
                <dd>
                    <div *ngIf="source.portal">
                        <a [routerLink]="['/portal', source.portal?.id, 'view']">{{ source.portal?.name }}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="source.product">
                        <a [routerLink]="['/product', source.product?.id, 'view']">{{ source.product?.name }}</a>
                    </div>
                </dd>
                <dt><span>Capability</span></dt>
                <dd>
                    <div *ngIf="source.capability">
                        <a [routerLink]="['/capability', source.capability?.id, 'view']">{{ source.capability?.name }}</a>
                    </div>
                </dd>
                <dt><span>Service Definition</span></dt>
                <dd>
                    <div *ngIf="source.serviceDefinition">
                        <a [routerLink]="['/service-definition', source.serviceDefinition?.id, 'view']">{{ source.serviceDefinition?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/source', source.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
