<div>
  <h2 id="page-heading" data-cy="SourceHeading">
    <span jhiTranslate="boatbayApp.source.home.title">Sources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="boatbayApp.source.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-source"
        [routerLink]="['/source/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="boatbayApp.source.home.createLabel"> Create a new Source </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sources?.length === 0">
    <span jhiTranslate="boatbayApp.source.home.notFound">No sources found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sources && sources.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.name">Name</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.key">Key</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.type">Type</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.active">Active</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.filterArtifactsName">Filter Artifacts Name</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.filterArtifactsCreatedSince">Filter Artifacts Created Since</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.cronExpression">Cron Expression</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.runOnStartup">Run On Startup</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.specFilterSpEL">Spec Filter Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.capabilityKeySpEL">Capability Key Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.capabilityNameSpEL">Capability Name Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.serviceKeySpEL">Service Key Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.serviceNameSpEL">Service Name Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.specKeySpEL">Spec Key Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.versionSpEL">Version Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.productReleaseNameSpEL">Product Release Name Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.productReleaseVersionSpEL">Product Release Version Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.productReleaseKeySpEL">Product Release Key Sp EL</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.itemLimit">Item Limit</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.overwriteChanges">Overwrite Changes</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.billOfMaterialsCoords">Bill Of Materials Coords</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.portal">Portal</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.product">Product</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.capability">Capability</span></th>
          <th scope="col"><span jhiTranslate="boatbayApp.source.serviceDefinition">Service Definition</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let source of sources; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/source', source.id, 'view']">{{ source.id }}</a>
          </td>
          <td>{{ source.name }}</td>
          <td>{{ source.key }}</td>
          <td jhiTranslate="{{ 'boatbayApp.SourceType.' + source.type }}">{{ source.type }}</td>
          <td>{{ source.active }}</td>
          <td>{{ source.filterArtifactsName }}</td>
          <td>{{ source.filterArtifactsCreatedSince | formatMediumDate }}</td>
          <td>{{ source.cronExpression }}</td>
          <td>{{ source.runOnStartup }}</td>
          <td>{{ source.specFilterSpEL }}</td>
          <td>{{ source.capabilityKeySpEL }}</td>
          <td>{{ source.capabilityNameSpEL }}</td>
          <td>{{ source.serviceKeySpEL }}</td>
          <td>{{ source.serviceNameSpEL }}</td>
          <td>{{ source.specKeySpEL }}</td>
          <td>{{ source.versionSpEL }}</td>
          <td>{{ source.productReleaseNameSpEL }}</td>
          <td>{{ source.productReleaseVersionSpEL }}</td>
          <td>{{ source.productReleaseKeySpEL }}</td>
          <td>{{ source.itemLimit }}</td>
          <td>{{ source.overwriteChanges }}</td>
          <td>{{ source.billOfMaterialsCoords }}</td>
          <td>
            <div *ngIf="source.portal">
              <a [routerLink]="['/portal', source.portal?.id, 'view']">{{ source.portal?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="source.product">
              <a [routerLink]="['/product', source.product?.id, 'view']">{{ source.product?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="source.capability">
              <a [routerLink]="['/capability', source.capability?.id, 'view']">{{ source.capability?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="source.serviceDefinition">
              <a [routerLink]="['/service-definition', source.serviceDefinition?.id, 'view']">{{ source.serviceDefinition?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/source', source.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/source', source.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(source)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
