@import '../../../content/scss/settings/spacing';
@import '../../../content/scss/settings/colors';
@import '~@angular/material/theming';

.mat-subheading {
  margin-bottom: 0;
  color: rgb(0 0 0 / 87%);
  margin-right: $spacer * 1.5;
  span {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
  }
}

hr {
  background-color: mat-color($mat-light-theme-foreground, divider);
  height: 1px;
  flex-grow: 1;
  border: 0;
}

mat-spinner {
  margin: 0 auto;
}

.spec-tile {
  display: inline-flex;
}

.product-title-icon {
  color: $color-lighter;
  width: auto;
  height: auto;
  margin-right: $spacer-sm;
}
