<div>
    <h2 id="page-heading">
        <span>Lint Rule Sets</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="lintRuleSets?.length === 0">
        <span>No lintRuleSets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="lintRuleSets && lintRuleSets.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Rule Set Id</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>External Url</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lintRuleSet of lintRuleSets ;trackBy: trackId">
                    <td><a [routerLink]="['/lint-rule-set', lintRuleSet.id, 'view']">{{ lintRuleSet.id }}</a></td>
                    <td>{{ lintRuleSet.ruleSetId }}</td>
                    <td>{{ lintRuleSet.name }}</td>
                    <td>{{ lintRuleSet.description }}</td>
                    <td>{{ lintRuleSet.externalUrl }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/lint-rule-set', lintRuleSet.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
