<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lintRuleSet">
            <h2><span>Lint Rule Set</span> {{ lintRuleSet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Rule Set Id</span></dt>
                <dd>
                    <span>{{ lintRuleSet.ruleSetId }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ lintRuleSet.name }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ lintRuleSet.description }}</span>
                </dd>
                <dt><span>External Url</span></dt>
                <dd>
                    <span>{{ lintRuleSet.externalUrl }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
