<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="productRelease">
      <h2 data-cy="productReleaseDetailsHeading"><span jhiTranslate="boatbayApp.productRelease.detail.title">Product Release</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ productRelease.id }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.productRelease.key">Key</span></dt>
        <dd>
          <span>{{ productRelease.key }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.productRelease.name">Name</span></dt>
        <dd>
          <span>{{ productRelease.name }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.productRelease.version">Version</span></dt>
        <dd>
          <span>{{ productRelease.version }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.productRelease.releaseDate">Release Date</span></dt>
        <dd>
          <span>{{ productRelease.releaseDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.productRelease.hide">Hide</span></dt>
        <dd>
          <span>{{ productRelease.hide }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.productRelease.spec">Spec</span></dt>
        <dd>
          <span *ngFor="let spec of productRelease.specs; let last = last">
            <a [routerLink]="['/spec', spec?.id, 'view']">{{ spec.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.productRelease.product">Product</span></dt>
        <dd>
          <div *ngIf="productRelease.product">
            <a [routerLink]="['/product', productRelease.product?.id, 'view']">{{ productRelease.product?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product-release', productRelease.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
