<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-lint-rule-violation-heading"
        data-cy="LintRuleViolationCreateUpdateHeading"
        jhiTranslate="boatbayApp.lintRuleViolation.home.createOrEditLabel"
      >
        Create or edit a Lint Rule Violation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.lintRuleViolation.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.lintRuleViolation.description" for="field_description"
            >Description</label
          >
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.lintRuleViolation.url" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.lintRuleViolation.severity" for="field_severity">Severity</label>
          <select class="form-control" name="severity" formControlName="severity" id="field_severity" data-cy="severity">
            <option [ngValue]="null">{{ 'boatbayApp.Severity.null' | translate }}</option>
            <option value="MUST">{{ 'boatbayApp.Severity.MUST' | translate }}</option>
            <option value="SHOULD">{{ 'boatbayApp.Severity.SHOULD' | translate }}</option>
            <option value="MAY">{{ 'boatbayApp.Severity.MAY' | translate }}</option>
            <option value="HINT">{{ 'boatbayApp.Severity.HINT' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.lintRuleViolation.lineStart" for="field_lineStart">Line Start</label>
          <input type="number" class="form-control" name="lineStart" id="field_lineStart" data-cy="lineStart" formControlName="lineStart" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.lintRuleViolation.lineEnd" for="field_lineEnd">Line End</label>
          <input type="number" class="form-control" name="lineEnd" id="field_lineEnd" data-cy="lineEnd" formControlName="lineEnd" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.lintRuleViolation.jsonPointer" for="field_jsonPointer"
            >Json Pointer</label
          >
          <input
            type="text"
            class="form-control"
            name="jsonPointer"
            id="field_jsonPointer"
            data-cy="jsonPointer"
            formControlName="jsonPointer"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.lintRuleViolation.lintRule" for="field_lintRule">Lint Rule</label>
          <select class="form-control" id="field_lintRule" data-cy="lintRule" name="lintRule" formControlName="lintRule">
            <option *ngIf="!editForm.get('lintRule')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="lintRuleOption.id === editForm.get('lintRule')!.value?.id ? editForm.get('lintRule')!.value : lintRuleOption"
              *ngFor="let lintRuleOption of lintRulesSharedCollection; trackBy: trackLintRuleById"
            >
              {{ lintRuleOption.title }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['lintRule'])!.invalid && (editForm.get(['lintRule'])!.dirty || editForm.get(['lintRule'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['lintRule'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.lintRuleViolation.lintReport" for="field_lintReport"
            >Lint Report</label
          >
          <select class="form-control" id="field_lintReport" data-cy="lintReport" name="lintReport" formControlName="lintReport">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                lintReportOption.id === editForm.get('lintReport')!.value?.id ? editForm.get('lintReport')!.value : lintReportOption
              "
              *ngFor="let lintReportOption of lintReportsSharedCollection; trackBy: trackLintReportById"
            >
              {{ lintReportOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
