<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span jhiTranslate="boatbayApp.product.detail.title">Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.product.key">Key</span></dt>
        <dd>
          <span>{{ product.key }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.product.name">Name</span></dt>
        <dd>
          <span>{{ product.name }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.product.order">Order</span></dt>
        <dd>
          <span>{{ product.order }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.product.content">Content</span></dt>
        <dd>
          <span>{{ product.content }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.product.createdOn">Created On</span></dt>
        <dd>
          <span>{{ product.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.product.createdBy">Created By</span></dt>
        <dd>
          <span>{{ product.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.product.hide">Hide</span></dt>
        <dd>
          <span>{{ product.hide }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.product.jiraProjectId">Jira Project Id</span></dt>
        <dd>
          <span>{{ product.jiraProjectId }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.product.portal">Portal</span></dt>
        <dd>
          <div *ngIf="product.portal">
            <a [routerLink]="['/portal', product.portal?.id, 'view']">{{ product.portal?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
