<div>
  <h2 id="page-heading" data-cy="CapabilityHeading">
    <span jhiTranslate="boatbayApp.capability.home.title">Capabilities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="boatbayApp.capability.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-capability"
        [routerLink]="['/capability/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="boatbayApp.capability.home.createLabel"> Create a new Capability </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="capabilities?.length === 0">
    <span jhiTranslate="boatbayApp.capability.home.notFound">No capabilities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="capabilities && capabilities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="key"><span jhiTranslate="boatbayApp.capability.key">Key</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="boatbayApp.capability.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="order">
            <span jhiTranslate="boatbayApp.capability.order">Order</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subTitle">
            <span jhiTranslate="boatbayApp.capability.subTitle">Sub Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="content">
            <span jhiTranslate="boatbayApp.capability.content">Content</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <span jhiTranslate="boatbayApp.capability.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="boatbayApp.capability.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hide"><span jhiTranslate="boatbayApp.capability.hide">Hide</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="product.name">
            <span jhiTranslate="boatbayApp.capability.product">Product</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let capability of capabilities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/capability', capability.id, 'view']">{{ capability.id }}</a>
          </td>
          <td>{{ capability.key }}</td>
          <td>{{ capability.name }}</td>
          <td>{{ capability.order }}</td>
          <td>{{ capability.subTitle }}</td>
          <td>{{ capability.content }}</td>
          <td>{{ capability.createdOn | formatMediumDatetime }}</td>
          <td>{{ capability.createdBy }}</td>
          <td>{{ capability.hide }}</td>
          <td>
            <div *ngIf="capability.product">
              <a [routerLink]="['/product', capability.product?.id, 'view']">{{ capability.product?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/capability', capability.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/capability', capability.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(capability)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="capabilities && capabilities.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
