<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lintRule">
            <h2><span>Lint Rule</span> {{ lintRule.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Rule Id</span></dt>
                <dd>
                    <span>{{ lintRule.ruleId }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ lintRule.title }}</span>
                </dd>
                <dt><span>Summary</span></dt>
                <dd>
                    <span>{{ lintRule.summary }}</span>
                </dd>
                <dt><span>Severity</span></dt>
                <dd>
                    <span>{{ lintRule.severity }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ lintRule.description }}</span>
                </dd>
                <dt><span>External Url</span></dt>
                <dd>
                    <span>{{ lintRule.externalUrl }}</span>
                </dd>
                <dt><span>Enabled</span></dt>
                <dd>
                    <span>{{ lintRule.enabled }}</span>
                </dd>
                <dt><span>Rule Set</span></dt>
                <dd>
                    <div *ngIf="lintRule.ruleSet">
                        <a [routerLink]="['/lint-rule-set', lintRule.ruleSet?.id, 'view']">{{ lintRule.ruleSet?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
