<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="capability">
      <h2 data-cy="capabilityDetailsHeading"><span jhiTranslate="boatbayApp.capability.detail.title">Capability</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ capability.id }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.capability.key">Key</span></dt>
        <dd>
          <span>{{ capability.key }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.capability.name">Name</span></dt>
        <dd>
          <span>{{ capability.name }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.capability.order">Order</span></dt>
        <dd>
          <span>{{ capability.order }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.capability.subTitle">Sub Title</span></dt>
        <dd>
          <span>{{ capability.subTitle }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.capability.content">Content</span></dt>
        <dd>
          <span>{{ capability.content }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.capability.createdOn">Created On</span></dt>
        <dd>
          <span>{{ capability.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.capability.createdBy">Created By</span></dt>
        <dd>
          <span>{{ capability.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.capability.hide">Hide</span></dt>
        <dd>
          <span>{{ capability.hide }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.capability.product">Product</span></dt>
        <dd>
          <div *ngIf="capability.product">
            <a [routerLink]="['/product', capability.product?.id, 'view']">{{ capability.product?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/capability', capability.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
