<div class="lint-report-info" *ngIf="spec && product">
    <div class="info">
        <dl>
            <dt>Name</dt>
            <dd>{{spec.name}}</dd>

            <dt>Title</dt>
            <dd>{{spec.title}}</dd>

            <dt>Version</dt>
            <dd>{{spec.version}}</dd>
        </dl>
    </div>
    <div class="info">
        <dl>
            <dt>Created On</dt>
            <dd>{{spec.createdOn | date}}</dd>

            <dt>Capability</dt>
            <dd><a [routerLink]="['/lint-reports/', product.portalKey, product.key]"
                   [queryParams]="{ capability: spec.capability.key}">{{spec.capability.name}}</a></dd>
            <dt>Service</dt>
            <dd><a [routerLink]="['/lint-reports/',product.portalKey, product.key]"
                   [queryParams]="{ service: spec.serviceDefinition.key}">{{spec.serviceDefinition.name}}</a></dd>
        </dl>
    </div>
    <div class="info">
        <dl>
            <dt>Grade</dt>
            <dd>
                <span class="grade grade-{{spec.grade}}">{{spec.grade}}</span>
            </dd>
            <dt>Changes</dt>
            <dd><span class="backwards-compatible backwards-compatible-{{spec.changes}}">{{spec.changes}}</span></dd>
        </dl>
    </div>

</div>
