<div>
    <h2 id="page-heading">
        <span>Capabilities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-capability" [routerLink]="['/capability/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Capability
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="capabilities?.length === 0">
        <span>No capabilities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="capabilities && capabilities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Key</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Order</span></th>
                    <th scope="col" ><span>Title</span></th>
                    <th scope="col" ><span>Sub Title</span></th>
                    <th scope="col" ><span>Nav Title</span></th>
                    <th scope="col" ><span>Content</span></th>
                    <th scope="col" ><span>Created On</span></th>
                    <th scope="col" ><span>Created By</span></th>
                    <th scope="col" ><span>Hide</span></th>
                    <th scope="col" ><span>Product</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let capability of capabilities ;trackBy: trackId">
                    <td><a [routerLink]="['/capability', capability.id, 'view']">{{ capability.id }}</a></td>
                    <td>{{ capability.key }}</td>
                    <td>{{ capability.name }}</td>
                    <td>{{ capability.order }}</td>
                    <td>{{ capability.title }}</td>
                    <td>{{ capability.subTitle }}</td>
                    <td>{{ capability.navTitle }}</td>
                    <td>{{ capability.content }}</td>
                    <td>{{ capability.createdOn | date:'medium' }}</td>
                    <td>{{ capability.createdBy }}</td>
                    <td>{{ capability.hide }}</td>
                    <td>
                        <div *ngIf="capability.product">
                            <a [routerLink]="['/product', capability.product?.id, 'view']" >{{ capability.product?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/capability', capability.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/capability', capability.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(capability)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
