<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="portal">
            <h2><span>Portal</span> {{ portal.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{ portal.key }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ portal.name }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ portal.title }}</span>
                </dd>
                <dt><span>Sub Title</span></dt>
                <dd>
                    <span>{{ portal.subTitle }}</span>
                </dd>
                <dt><span>Nav Title</span></dt>
                <dd>
                    <span>{{ portal.navTitle }}</span>
                </dd>
                <dt><span>Logo Url</span></dt>
                <dd>
                    <span>{{ portal.logoUrl }}</span>
                </dd>
                <dt><span>Logo Link</span></dt>
                <dd>
                    <span>{{ portal.logoLink }}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{ portal.content }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ portal.createdOn }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ portal.createdBy }}</span>
                </dd>
                <dt><span>Hide</span></dt>
                <dd>
                    <span>{{ portal.hide }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/portal', portal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
