<div>
    <h2 id="page-heading">
        <span>Portals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-portal" [routerLink]="['/portal/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Portal
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="portals?.length === 0">
        <span>No portals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="portals && portals.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Key</span></th>
                    <th scope="col" ><span>Title</span></th>
                    <th scope="col" ><span>Sub Title</span></th>
                    <th scope="col" ><span>Nav Title</span></th>
                    <th scope="col" ><span>Logo Url</span></th>
                    <th scope="col" ><span>Logo Link</span></th>
                    <th scope="col" ><span>Content</span></th>
                    <th scope="col" ><span>Created On</span></th>
                    <th scope="col" ><span>Created By</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let portal of portals ;trackBy: trackId">
                    <td><a [routerLink]="['/portal', portal.id, 'view']">{{ portal.id }}</a></td>
                    <td>{{ portal.key }}</td>
                    <td>{{ portal.title }}</td>
                    <td>{{ portal.subTitle }}</td>
                    <td>{{ portal.navTitle }}</td>
                    <td>{{ portal.logoUrl }}</td>
                    <td>{{ portal.logoLink }}</td>
                    <td>{{ portal.content }}</td>
                    <td>{{ portal.createdOn | date:'medium' }}</td>
                    <td>{{ portal.createdBy }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/portal', portal.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/portal', portal.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(portal)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
