<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-source-heading" data-cy="SourceCreateUpdateHeading" jhiTranslate="boatbayApp.source.home.createOrEditLabel">
        Create or edit a Source
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.key" for="field_key">Key</label>
          <input type="text" class="form-control" name="key" id="field_key" data-cy="key" formControlName="key" />
          <div *ngIf="editForm.get('key')!.invalid && (editForm.get('key')!.dirty || editForm.get('key')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('key')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'boatbayApp.SourceType.null' | translate }}</option>
            <option value="BOAT_MAVEN_PLUGIN">{{ 'boatbayApp.SourceType.BOAT_MAVEN_PLUGIN' | translate }}</option>
            <option value="MAVEN">{{ 'boatbayApp.SourceType.MAVEN' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.active" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.filterArtifactsName" for="field_filterArtifactsName"
            >Filter Artifacts Name</label
          >
          <input
            type="text"
            class="form-control"
            name="filterArtifactsName"
            id="field_filterArtifactsName"
            data-cy="filterArtifactsName"
            formControlName="filterArtifactsName"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="boatbayApp.source.filterArtifactsCreatedSince"
            for="field_filterArtifactsCreatedSince"
            >Filter Artifacts Created Since</label
          >
          <div class="input-group">
            <input
              id="field_filterArtifactsCreatedSince"
              data-cy="filterArtifactsCreatedSince"
              type="text"
              class="form-control"
              name="filterArtifactsCreatedSince"
              ngbDatepicker
              #filterArtifactsCreatedSinceDp="ngbDatepicker"
              formControlName="filterArtifactsCreatedSince"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="filterArtifactsCreatedSinceDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.cronExpression" for="field_cronExpression"
            >Cron Expression</label
          >
          <input
            type="text"
            class="form-control"
            name="cronExpression"
            id="field_cronExpression"
            data-cy="cronExpression"
            formControlName="cronExpression"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.runOnStartup" for="field_runOnStartup">Run On Startup</label>
          <input
            type="checkbox"
            class="form-check"
            name="runOnStartup"
            id="field_runOnStartup"
            data-cy="runOnStartup"
            formControlName="runOnStartup"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.specFilterSpEL" for="field_specFilterSpEL"
            >Spec Filter Sp EL</label
          >
          <input
            type="text"
            class="form-control"
            name="specFilterSpEL"
            id="field_specFilterSpEL"
            data-cy="specFilterSpEL"
            formControlName="specFilterSpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.capabilityKeySpEL" for="field_capabilityKeySpEL"
            >Capability Key Sp EL</label
          >
          <input
            type="text"
            class="form-control"
            name="capabilityKeySpEL"
            id="field_capabilityKeySpEL"
            data-cy="capabilityKeySpEL"
            formControlName="capabilityKeySpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.capabilityNameSpEL" for="field_capabilityNameSpEL"
            >Capability Name Sp EL</label
          >
          <input
            type="text"
            class="form-control"
            name="capabilityNameSpEL"
            id="field_capabilityNameSpEL"
            data-cy="capabilityNameSpEL"
            formControlName="capabilityNameSpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.serviceKeySpEL" for="field_serviceKeySpEL"
            >Service Key Sp EL</label
          >
          <input
            type="text"
            class="form-control"
            name="serviceKeySpEL"
            id="field_serviceKeySpEL"
            data-cy="serviceKeySpEL"
            formControlName="serviceKeySpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.serviceNameSpEL" for="field_serviceNameSpEL"
            >Service Name Sp EL</label
          >
          <input
            type="text"
            class="form-control"
            name="serviceNameSpEL"
            id="field_serviceNameSpEL"
            data-cy="serviceNameSpEL"
            formControlName="serviceNameSpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.specKeySpEL" for="field_specKeySpEL">Spec Key Sp EL</label>
          <input
            type="text"
            class="form-control"
            name="specKeySpEL"
            id="field_specKeySpEL"
            data-cy="specKeySpEL"
            formControlName="specKeySpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.versionSpEL" for="field_versionSpEL">Version Sp EL</label>
          <input
            type="text"
            class="form-control"
            name="versionSpEL"
            id="field_versionSpEL"
            data-cy="versionSpEL"
            formControlName="versionSpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.productReleaseNameSpEL" for="field_productReleaseNameSpEL"
            >Product Release Name Sp EL</label
          >
          <input
            type="text"
            class="form-control"
            name="productReleaseNameSpEL"
            id="field_productReleaseNameSpEL"
            data-cy="productReleaseNameSpEL"
            formControlName="productReleaseNameSpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.productReleaseVersionSpEL" for="field_productReleaseVersionSpEL"
            >Product Release Version Sp EL</label
          >
          <input
            type="text"
            class="form-control"
            name="productReleaseVersionSpEL"
            id="field_productReleaseVersionSpEL"
            data-cy="productReleaseVersionSpEL"
            formControlName="productReleaseVersionSpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.productReleaseKeySpEL" for="field_productReleaseKeySpEL"
            >Product Release Key Sp EL</label
          >
          <input
            type="text"
            class="form-control"
            name="productReleaseKeySpEL"
            id="field_productReleaseKeySpEL"
            data-cy="productReleaseKeySpEL"
            formControlName="productReleaseKeySpEL"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.itemLimit" for="field_itemLimit">Item Limit</label>
          <input type="number" class="form-control" name="itemLimit" id="field_itemLimit" data-cy="itemLimit" formControlName="itemLimit" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.overwriteChanges" for="field_overwriteChanges"
            >Overwrite Changes</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="overwriteChanges"
            id="field_overwriteChanges"
            data-cy="overwriteChanges"
            formControlName="overwriteChanges"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.billOfMaterialsCoords" for="field_billOfMaterialsCoords"
            >Bill Of Materials Coords</label
          >
          <input
            type="text"
            class="form-control"
            name="billOfMaterialsCoords"
            id="field_billOfMaterialsCoords"
            data-cy="billOfMaterialsCoords"
            formControlName="billOfMaterialsCoords"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.portal" for="field_portal">Portal</label>
          <select class="form-control" id="field_portal" data-cy="portal" name="portal" formControlName="portal">
            <option *ngIf="!editForm.get('portal')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="portalOption.id === editForm.get('portal')!.value?.id ? editForm.get('portal')!.value : portalOption"
              *ngFor="let portalOption of portalsSharedCollection; trackBy: trackPortalById"
            >
              {{ portalOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['portal'])!.invalid && (editForm.get(['portal'])!.dirty || editForm.get(['portal'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['portal'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option *ngIf="!editForm.get('product')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['product'])!.invalid && (editForm.get(['product'])!.dirty || editForm.get(['product'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['product'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.capability" for="field_capability">Capability</label>
          <select class="form-control" id="field_capability" data-cy="capability" name="capability" formControlName="capability">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                capabilityOption.id === editForm.get('capability')!.value?.id ? editForm.get('capability')!.value : capabilityOption
              "
              *ngFor="let capabilityOption of capabilitiesSharedCollection; trackBy: trackCapabilityById"
            >
              {{ capabilityOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boatbayApp.source.serviceDefinition" for="field_serviceDefinition"
            >Service Definition</label
          >
          <select
            class="form-control"
            id="field_serviceDefinition"
            data-cy="serviceDefinition"
            name="serviceDefinition"
            formControlName="serviceDefinition"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                serviceDefinitionOption.id === editForm.get('serviceDefinition')!.value?.id
                  ? editForm.get('serviceDefinition')!.value
                  : serviceDefinitionOption
              "
              *ngFor="let serviceDefinitionOption of serviceDefinitionsSharedCollection; trackBy: trackServiceDefinitionById"
            >
              {{ serviceDefinitionOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
