<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sourcePath">
      <h2 data-cy="sourcePathDetailsHeading"><span jhiTranslate="boatbayApp.sourcePath.detail.title">Source Path</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sourcePath.id }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.sourcePath.name">Name</span></dt>
        <dd>
          <span>{{ sourcePath.name }}</span>
        </dd>
        <dt><span jhiTranslate="boatbayApp.sourcePath.source">Source</span></dt>
        <dd>
          <div *ngIf="sourcePath.source">
            <a [routerLink]="['/source', sourcePath.source?.id, 'view']">{{ sourcePath.source?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/source-path', sourcePath.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
