<div class="table-wrapper">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>


    <table mat-table class="full-width-table" matSort aria-label="Services" [dataSource]="dataSource">
        <!-- Header row first group -->
        <ng-container matColumnDef="header-row-first-group">
            <th mat-header-cell *matHeaderCellDef
                [attr.colspan]="4">
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-second-group">
            <th mat-header-cell *matHeaderCellDef
                style="text-align: center"
                [attr.colspan]="4">
                Violations
            </th>
        </ng-container>


        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{row.key}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
            <td mat-cell *matCellDef="let row">{{row.createdOn | date}}</td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
            <td mat-cell *matCellDef="let row">{{row.createdBy}}</td>
        </ng-container>

        <ng-container matColumnDef="violationsMust">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>Must</th>
            <td mat-cell *matCellDef="let row">{{row.statistics?.mustViolationsCount}}</td>
        </ng-container>

        <ng-container matColumnDef="violationsShould">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>Should</th>
            <td mat-cell *matCellDef="let row">{{row.statistics?.shouldViolationsCount}}</td>
        </ng-container>

        <ng-container matColumnDef="violationsMay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>May</th>
            <td mat-cell *matCellDef="let row">{{row.statistics?.mayViolationsCount}}</td>
        </ng-container>

        <ng-container matColumnDef="violationsHint">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>Hint</th>
            <td mat-cell *matCellDef="let row">{{row.statistics?.hintViolationsCount}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
                   [length]="dataSource.length | async"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 50, 100]">
    </mat-paginator>
</div>
