.lint-report-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.openapi-editor {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.violations {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
