@mixin mat-table-overrides($theme) {
  table.mat-table {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    background: $color-text;
    box-shadow: 1px 2px 2px $main-color-dark-lighter;
  }

  table th.mat-header-cell {
    color: $color-bg;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 24px;
    border-bottom-color: $main-color-lighter;
  }

  table td {
    letter-spacing: 0.25px;
    line-height: 20px;
  }
  table tr.mat-row {
    height: 60px;
  }
  table td.mat-cell {
    border-bottom-color: $main-color-lighter;
  }
}
