<ng-container *ngIf="product$ | async as product">

    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--top">

        <div class="mdl-cell mdl-cell--3-col mat-elevation-z8">
            <div class="release-container">
                <div class="release-selector">
                    <mat-form-field appearance="fill">
                        <mat-label>Release</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let release of releases1" [value]="release">
                                {{release.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="release-items">

                    </div>
                </div>


                <div class="release-selector">
                    <mat-form-field appearance="fill">
                        <mat-label>Release</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let release of releases2" [value]="release">
                                {{release.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>


        <div class="mdl-cell  mdl-cell--9-col  mat-elevation-z8">
            <h1>Release notes per changed spec</h1>

        </div>


    </div>
</ng-container>
