<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-spec-heading">Create or edit a Spec</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_key">Key</label>
                    <input type="text" class="form-control" name="key" id="field_key"
                           formControlName="key"/>
                    <div *ngIf="editForm.get('key')!.invalid && (editForm.get('key')!.dirty || editForm.get('key')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('key')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                    <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('version')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_icon">Icon</label>
                    <input type="text" class="form-control" name="icon" id="field_icon"
                           formControlName="icon"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_openApi">Open Api</label>
                    <textarea class="form-control" name="openApi" id="field_openApi"
                              formControlName="openApi"></textarea>
                    <div *ngIf="editForm.get('openApi')!.invalid && (editForm.get('openApi')!.dirty || editForm.get('openApi')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('openApi')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" formControlName="createdOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createdOn')!.invalid && (editForm.get('createdOn')!.dirty || editForm.get('createdOn')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdOn')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createdOn')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                    <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdBy')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_checksum">Checksum</label>
                    <input type="text" class="form-control" name="checksum" id="field_checksum"
                           formControlName="checksum"/>
                    <div *ngIf="editForm.get('checksum')!.invalid && (editForm.get('checksum')!.dirty || editForm.get('checksum')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('checksum')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_filename">Filename</label>
                    <input type="text" class="form-control" name="filename" id="field_filename"
                           formControlName="filename"/>
                    <div *ngIf="editForm.get('filename')!.invalid && (editForm.get('filename')!.dirty || editForm.get('filename')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('filename')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_valid">Valid</label>
                    <input type="checkbox" class="form-control" name="valid" id="field_valid"
                           formControlName="valid"/>
                    <div *ngIf="editForm.get('valid')!.invalid && (editForm.get('valid')!.dirty || editForm.get('valid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valid')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_order">Order</label>
                    <input type="number" class="form-control" name="order" id="field_order"
                           formControlName="order"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_parseError">Parse Error</label>
                    <textarea class="form-control" name="parseError" id="field_parseError"
                              formControlName="parseError"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_externalDocs">External Docs</label>
                    <input type="text" class="form-control" name="externalDocs" id="field_externalDocs"
                           formControlName="externalDocs"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_hide">Hide</label>
                    <input type="checkbox" class="form-control" name="hide" id="field_hide"
                           formControlName="hide"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_grade">Grade</label>
                    <input type="text" class="form-control" name="grade" id="field_grade"
                           formControlName="grade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_changes">Changes</label>
                    <select class="form-control" name="changes" formControlName="changes" id="field_changes">
                        <option value="INVALID_VERSION">INVALID_VERSION</option>
                        <option value="NOT_APPLICABLE">NOT_APPLICABLE</option>
                        <option value="ERROR_COMPARING">ERROR_COMPARING</option>
                        <option value="UNCHANGED">UNCHANGED</option>
                        <option value="COMPATIBLE">COMPATIBLE</option>
                        <option value="BREAKING">BREAKING</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sourcePath">Source Path</label>
                    <input type="text" class="form-control" name="sourcePath" id="field_sourcePath"
                           formControlName="sourcePath"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sourceName">Source Name</label>
                    <input type="text" class="form-control" name="sourceName" id="field_sourceName"
                           formControlName="sourceName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sourceUrl">Source Url</label>
                    <input type="text" class="form-control" name="sourceUrl" id="field_sourceUrl"
                           formControlName="sourceUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sourceCreatedBy">Source Created By</label>
                    <input type="text" class="form-control" name="sourceCreatedBy" id="field_sourceCreatedBy"
                           formControlName="sourceCreatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sourceCreatedOn">Source Created On</label>
                    <div class="d-flex">
                        <input id="field_sourceCreatedOn" type="datetime-local" class="form-control" name="sourceCreatedOn" formControlName="sourceCreatedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sourceLastModifiedOn">Source Last Modified On</label>
                    <div class="d-flex">
                        <input id="field_sourceLastModifiedOn" type="datetime-local" class="form-control" name="sourceLastModifiedOn" formControlName="sourceLastModifiedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sourceLastModifiedBy">Source Last Modified By</label>
                    <input type="text" class="form-control" name="sourceLastModifiedBy" id="field_sourceLastModifiedBy"
                           formControlName="sourceLastModifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_previousSpec">Previous Spec</label>
                    <select class="form-control" id="field_previousSpec" name="previousSpec" formControlName="previousSpec">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="specOption.id === editForm.get('previousSpec')!.value?.id ? editForm.get('previousSpec')!.value : specOption" *ngFor="let specOption of previousspecs; trackBy: trackById">{{ specOption.version }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_portal">Portal</label>
                    <select class="form-control" id="field_portal" name="portal" formControlName="portal">
                        <option *ngIf="!editForm.get('portal')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="portalOption.id === editForm.get('portal')!.value?.id ? editForm.get('portal')!.value : portalOption" *ngFor="let portalOption of portals; trackBy: trackById">{{ portalOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('portal')!.invalid && (editForm.get('portal')!.dirty || editForm.get('portal')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('portal')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_capability">Capability</label>
                    <select class="form-control" id="field_capability" name="capability" formControlName="capability">
                        <option *ngIf="!editForm.get('capability')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="capabilityOption.id === editForm.get('capability')!.value?.id ? editForm.get('capability')!.value : capabilityOption" *ngFor="let capabilityOption of capabilities; trackBy: trackById">{{ capabilityOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('capability')!.invalid && (editForm.get('capability')!.dirty || editForm.get('capability')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('capability')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="product">
                        <option *ngIf="!editForm.get('product')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption" *ngFor="let productOption of products; trackBy: trackById">{{ productOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('product')!.invalid && (editForm.get('product')!.dirty || editForm.get('product')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('product')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_source">Source</label>
                    <select class="form-control" id="field_source" name="source" formControlName="source">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sourceOption.id === editForm.get('source')!.value?.id ? editForm.get('source')!.value : sourceOption" *ngFor="let sourceOption of sources; trackBy: trackById">{{ sourceOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_specType">Spec Type</label>
                    <select class="form-control" id="field_specType" name="specType" formControlName="specType">
                        <option *ngIf="!editForm.get('specType')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="specTypeOption.id === editForm.get('specType')!.value?.id ? editForm.get('specType')!.value : specTypeOption" *ngFor="let specTypeOption of spectypes; trackBy: trackById">{{ specTypeOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('specType')!.invalid && (editForm.get('specType')!.dirty || editForm.get('specType')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('specType')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label for="field_tags">Tag</label>
                    <select class="form-control" id="field_tags" multiple name="tags" formControlName="tags">
                        <option [ngValue]="getSelected(editForm.get('tags')!.value, tagOption)" *ngFor="let tagOption of tags; trackBy: trackById">{{ tagOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_serviceDefinition">Service Definition</label>
                    <select class="form-control" id="field_serviceDefinition" name="serviceDefinition" formControlName="serviceDefinition">
                        <option *ngIf="!editForm.get('serviceDefinition')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="serviceDefinitionOption.id === editForm.get('serviceDefinition')!.value?.id ? editForm.get('serviceDefinition')!.value : serviceDefinitionOption" *ngFor="let serviceDefinitionOption of servicedefinitions; trackBy: trackById">{{ serviceDefinitionOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('serviceDefinition')!.invalid && (editForm.get('serviceDefinition')!.dirty || editForm.get('serviceDefinition')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('serviceDefinition')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
