<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lint-rule-violation-heading">Create or edit a Lint Rule Violation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_severity">Severity</label>
                    <select class="form-control" name="severity" formControlName="severity" id="field_severity">
                        <option value="MUST">MUST</option>
                        <option value="SHOULD">SHOULD</option>
                        <option value="MAY">MAY</option>
                        <option value="HINT">HINT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lineStart">Line Start</label>
                    <input type="number" class="form-control" name="lineStart" id="field_lineStart"
                           formControlName="lineStart"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lineEnd">Line End</label>
                    <input type="number" class="form-control" name="lineEnd" id="field_lineEnd"
                           formControlName="lineEnd"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_jsonPointer">Json Pointer</label>
                    <input type="text" class="form-control" name="jsonPointer" id="field_jsonPointer"
                           formControlName="jsonPointer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lintRule">Lint Rule</label>
                    <select class="form-control" id="field_lintRule" name="lintRule" formControlName="lintRule">
                        <option *ngIf="!editForm.get('lintRule')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="lintRuleOption.id === editForm.get('lintRule')!.value?.id ? editForm.get('lintRule')!.value : lintRuleOption" *ngFor="let lintRuleOption of lintrules; trackBy: trackById">{{ lintRuleOption.title }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('lintRule')!.invalid && (editForm.get('lintRule')!.dirty || editForm.get('lintRule')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('lintRule')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lintReport">Lint Report</label>
                    <select class="form-control" id="field_lintReport" name="lintReport" formControlName="lintReport">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="lintReportOption.id === editForm.get('lintReport')!.value?.id ? editForm.get('lintReport')!.value : lintReportOption" *ngFor="let lintReportOption of lintreports; trackBy: trackById">{{ lintReportOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
