<div>
    <h2 id="page-heading">
        <span>Lint Rule Violations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lint-rule-violation" [routerLink]="['/lint-rule-violation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Lint Rule Violation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="lintRuleViolations?.length === 0">
        <span>No lintRuleViolations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="lintRuleViolations && lintRuleViolations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="url"><span>Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="severity"><span>Severity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lineStart"><span>Line Start</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lineEnd"><span>Line End</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jsonPointer"><span>Json Pointer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lintRule.title"><span>Lint Rule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lintReport.name"><span>Lint Report</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lintRuleViolation of lintRuleViolations ;trackBy: trackId">
                    <td><a [routerLink]="['/lint-rule-violation', lintRuleViolation.id, 'view']">{{ lintRuleViolation.id }}</a></td>
                    <td>{{ lintRuleViolation.name }}</td>
                    <td>{{ lintRuleViolation.description }}</td>
                    <td>{{ lintRuleViolation.url }}</td>
                    <td>{{ lintRuleViolation.severity }}</td>
                    <td>{{ lintRuleViolation.lineStart }}</td>
                    <td>{{ lintRuleViolation.lineEnd }}</td>
                    <td>{{ lintRuleViolation.jsonPointer }}</td>
                    <td>
                        <div *ngIf="lintRuleViolation.lintRule">
                            <a [routerLink]="['/lint-rule', lintRuleViolation.lintRule?.id, 'view']" >{{ lintRuleViolation.lintRule?.title }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="lintRuleViolation.lintReport">
                            <a [routerLink]="['/lint-report', lintRuleViolation.lintReport?.id, 'view']" >{{ lintRuleViolation.lintReport?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/lint-rule-violation', lintRuleViolation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/lint-rule-violation', lintRuleViolation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(lintRuleViolation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="lintRuleViolations && lintRuleViolations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
