<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-portal-lint-rule-heading">Create or edit a Portal Lint Rule</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ruleId">Rule Id</label>
                    <input type="text" class="form-control" name="ruleId" id="field_ruleId"
                           formControlName="ruleId"/>
                    <div *ngIf="editForm.get('ruleId')!.invalid && (editForm.get('ruleId')!.dirty || editForm.get('ruleId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ruleId')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_enabled">Enabled</label>
                    <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                           formControlName="enabled"/>
                    <div *ngIf="editForm.get('enabled')!.invalid && (editForm.get('enabled')!.dirty || editForm.get('enabled')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('enabled')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lintRule">Lint Rule</label>
                    <select class="form-control" id="field_lintRule" name="lintRule" formControlName="lintRule">
                        <option *ngIf="!editForm.get('lintRule')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="lintRuleOption.id === editForm.get('lintRule')!.value?.id ? editForm.get('lintRule')!.value : lintRuleOption" *ngFor="let lintRuleOption of lintrules; trackBy: trackById">{{ lintRuleOption.title }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('lintRule')!.invalid && (editForm.get('lintRule')!.dirty || editForm.get('lintRule')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('lintRule')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_portal">Portal</label>
                    <select class="form-control" id="field_portal" name="portal" formControlName="portal">
                        <option *ngIf="!editForm.get('portal')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="portalOption.id === editForm.get('portal')!.value?.id ? editForm.get('portal')!.value : portalOption" *ngFor="let portalOption of portals; trackBy: trackById">{{ portalOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('portal')!.invalid && (editForm.get('portal')!.dirty || editForm.get('portal')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('portal')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
