@mixin mat-menu-overrides($theme) {
  .mat-menu-panel {
    min-width: 350px !important;
    min-height: 100vh !important;
    background-color: white;
    top: 74px;
    right: 0;
    position: fixed;
    font-family: Inter;
  }
}
