<div>
    <h2 id="page-heading">
        <span>Service Definitions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-definition" [routerLink]="['/service-definition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Service Definition
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="serviceDefinitions?.length === 0">
        <span>No serviceDefinitions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="serviceDefinitions && serviceDefinitions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Key</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Title</span></th>
                    <th scope="col" ><span>Sub Title</span></th>
                    <th scope="col" ><span>Nav Title</span></th>
                    <th scope="col" ><span>Content</span></th>
                    <th scope="col" ><span>Created On</span></th>
                    <th scope="col" ><span>Created By</span></th>
                    <th scope="col" ><span>Capability</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serviceDefinition of serviceDefinitions ;trackBy: trackId">
                    <td><a [routerLink]="['/service-definition', serviceDefinition.id, 'view']">{{ serviceDefinition.id }}</a></td>
                    <td>{{ serviceDefinition.key }}</td>
                    <td>{{ serviceDefinition.name }}</td>
                    <td>{{ serviceDefinition.title }}</td>
                    <td>{{ serviceDefinition.subTitle }}</td>
                    <td>{{ serviceDefinition.navTitle }}</td>
                    <td>{{ serviceDefinition.content }}</td>
                    <td>{{ serviceDefinition.createdOn | date:'medium' }}</td>
                    <td>{{ serviceDefinition.createdBy }}</td>
                    <td>
                        <div *ngIf="serviceDefinition.capability">
                            <a [routerLink]="['/capability', serviceDefinition.capability?.id, 'view']" >{{ serviceDefinition.capability?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/service-definition', serviceDefinition.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/service-definition', serviceDefinition.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(serviceDefinition)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
