<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serviceDefinition">
            <h2><span>Service Definition</span> {{ serviceDefinition.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{ serviceDefinition.key }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ serviceDefinition.name }}</span>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <span>{{ serviceDefinition.order }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ serviceDefinition.title }}</span>
                </dd>
                <dt><span>Sub Title</span></dt>
                <dd>
                    <span>{{ serviceDefinition.subTitle }}</span>
                </dd>
                <dt><span>Nav Title</span></dt>
                <dd>
                    <span>{{ serviceDefinition.navTitle }}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{ serviceDefinition.content }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ serviceDefinition.createdOn }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ serviceDefinition.createdBy }}</span>
                </dd>
                <dt><span>Capability</span></dt>
                <dd>
                    <div *ngIf="serviceDefinition.capability">
                        <a [routerLink]="['/capability', serviceDefinition.capability?.id, 'view']">{{ serviceDefinition.capability?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-definition', serviceDefinition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
