<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="portalLintRule">
            <h2><span>Portal Lint Rule</span> {{ portalLintRule.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Rule Id</span></dt>
                <dd>
                    <span>{{ portalLintRule.ruleId }}</span>
                </dd>
                <dt><span>Enabled</span></dt>
                <dd>
                    <span>{{ portalLintRule.enabled }}</span>
                </dd>
                <dt><span>Lint Rule</span></dt>
                <dd>
                    <div *ngIf="portalLintRule.lintRule">
                        <a [routerLink]="['/lint-rule', portalLintRule.lintRule?.id, 'view']">{{ portalLintRule.lintRule?.title }}</a>
                    </div>
                </dd>
                <dt><span>Portal</span></dt>
                <dd>
                    <div *ngIf="portalLintRule.portal">
                        <a [routerLink]="['/portal', portalLintRule.portal?.id, 'view']">{{ portalLintRule.portal?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/portal-lint-rule', portalLintRule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
