<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{ product.key }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ product.name }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ product.title }}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{ product.content }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ product.createdOn }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ product.createdBy }}</span>
                </dd>
                <dt><span>Portal</span></dt>
                <dd>
                    <div *ngIf="product.portal">
                        <a [routerLink]="['/portal', product.portal?.id, 'view']">{{ product.portal?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
