@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('#{$material-icons-outlined-path}/MaterialIcons-Outlined.woff2') format('woff2'),
    url('#{$material-icons-outlined-path}/MaterialIcons-Outlined.woff') format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$material-icons-path}/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('#{$material-icons-path}/MaterialIcons-Regular.woff2') format('woff2'),
    url('#{$material-icons-path}/MaterialIcons-Regular.woff') format('woff'),
    url('#{$material-icons-path}/MaterialIcons-Regular.ttf') format('truetype');
}
