// font
$fonts-path: '../../../../content/fonts';

// icon fonts
$material-icons-path: '#{$fonts-path}/material-icons';
$material-icons-outlined-path: '#{$material-icons-path}-outlined';

// base fonts
$base-fonts-path: '#{$fonts-path}/base';

//base fonts inter
$base-fonts-inter-path: '#{$base-fonts-path}/inter';
