<div class="spec-filter">
    <span class="filter-section-heading">Capabilities</span>
    <mat-list *ngIf="capabilities$ | async as capabilities">
        <mat-list-item *ngFor="let item of capabilities">
            <mat-checkbox
                [(ngModel)]="item.checked"
                [disabled]="item.disabled"
                [labelPosition]="item.labelPosition"
                (change)="list_change()"
            >{{ item.name }}</mat-checkbox>
        </mat-list-item>
    </mat-list>

    <h5>Services</h5>
    <mat-list *ngIf="services$ | async as services">
        <mat-list-item *ngFor="let item of services">
            <mat-checkbox
                [(ngModel)]="item.checked"
                [disabled]="item.disabled"
                [labelPosition]="item.labelPosition"
                (change)="list_change()"
            >{{ item.name }}</mat-checkbox>
        </mat-list-item>
    </mat-list>

</div>
<!--<div>-->
<!--    -->
<!--    -->
<!--    -->
<!--    <mat-form-field appearance="fill" *ngIf="capabilities$ | async as capabilities">-->
<!--        <mat-label>Capability</mat-label>-->
<!--        <mat-select [formControl]="selectedCapabilities" multiple>-->
<!--            <mat-select-trigger>-->
<!--                {{selectedCapabilities.value ? selectedCapabilities.value[0].name : ''}}-->
<!--                <span *ngIf="selectedCapabilities.value?.length > 1" class="">-->
<!--        (+{{selectedCapabilities.value.length - 1}} {{selectedCapabilities.value?.length === 2 ? 'other' : 'others'}})-->
<!--      </span>-->
<!--            </mat-select-trigger>-->
<!--            <mat-option *ngFor="let capability of capabilities" [value]="capability">{{capability.name}}</mat-option>-->
<!--        </mat-select>-->
<!--    </mat-form-field>-->
<!--</div>-->

<!--<div>-->
<!--    <mat-form-field appearance="fill" *ngIf="services$ | async as services">-->
<!--        <mat-label>Service</mat-label>-->
<!--        <mat-select [formControl]="selectedServices" multiple>-->
<!--            <mat-select-trigger>-->
<!--                {{selectedServices.value ? selectedServices.value[0].name : ''}}-->
<!--                <span *ngIf="selectedServices.value?.length > 1" class="">-->
<!--        (+{{selectedServices.value.length - 1}} {{selectedServices.value?.length === 2 ? 'other' : 'others'}})-->
<!--      </span>-->
<!--            </mat-select-trigger>-->
<!--            <mat-option *ngFor="let service of services" [value]="service">{{service.name}}</mat-option>-->
<!--        </mat-select>-->
<!--    </mat-form-field>-->
<!--</div>-->
