.spec-filter {
  padding-top: 20px;
}


.spec-filter {


  .filter-section-heading {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: #aaa solid 1px;
  }

  h5 {
    padding: 0;
  }

  .mat-list-item {
    height: 28px;
    padding: 0;
  }

}
